@import '@fullcalendar/core/main.css';
@import '@fullcalendar/daygrid/main.css';

body{
    display: flex;
    flex-direction: column;
    scrollbar-gutter: stable;
}
main{
    display: flex;
    height: auto;
   align-items: center;
    flex-direction: column;   
}
/* navigation */
.navbar-brand{
    color:white;
    font-weight: bolder;
}
.nav-link{
    color: white;
}

.navbar{
    background-color: forestgreen;
}
.title{
   
}

/* Landing Page */
.landing_Page{
    width: 100%; 
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.500),rgba(0,0,0,0.500)) , url("/images/official-background.jpg"), no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.filter{
    backdrop-filter: blur(5px);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
}
.filter h1{
    margin-bottom: 10%;
    font-weight: 600;
    /* text-transform: uppercase; */
    font-family: 'Playfair Display', serif;
    
}
/* selection */
.selection{
    height: 120vh;
    width: 100%;
    background:linear-gradient(rgba(0,0,0,0.100),rgba(0,0,0,0.100)) ,url("/images/background-outline.png"),no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    
   
}
.selection h1{
    color: rgb(0, 0, 0);
}
.selection a{
 text-decoration:none;
 color: snow;
 border-radius: 10px;
 height: 100%;
 width: 100%;
 display: flex;
 align-items: flex-end;
 justify-content: center;
 box-shadow: 14px 14px 11px black ;
 
}
.selection ul{
    height: 80%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
}
.selection li{
    width: 40vh;
    height: 60vh;
    font-size: 50px;
    border-radius: 10px;
    
}.selection a:hover{
    align-items: center;
    background: linear-gradient(rgb(0 0 0 / 70%), rgb(0 0 0 / 70%));
    box-shadow: 5px 5px 5px rgb(0, 0, 0) ;
}
.selection ul li:nth-child(1){
    background:linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.800)), url("/images/Services.jpg"), no-repeat ;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
.selection ul li:nth-child(2){
    background:linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.800)), url("/images/Menu.jpg") ;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
.selection ul li:nth-child(3){
    background:linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.800)), url("/images/Theme.jpg") ;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

/* Mihanz Information */
.mihanz-info{
    height: 100vh;
    width: 80%;
    display: flex;
    height: auto;
    padding-top: 20vh;
    padding-bottom: 20vh;
    flex-direction: column;
    align-items: flex-start;
}
.mihanz-info h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: normal;
    font-family: 'Playfair Display', serif;
}
#p2{
    text-align: justify;
    width: 80%;
    margin-left: 10%;
    font-size: 20px;
    word-spacing: 3px;
    white-space: break-spaces;
}
/* Reservation Information */
.reservation-Info{
height: auto;
display: flex;
margin-bottom: 20vh;
flex-direction: column;
padding-left: 10%;
width: 100%;
margin-top: 100px;

}
#menu-btn{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-left: -15%;
}

.btn a{
color:white;
text-decoration: none;
}
.reservation-Info ul {
margin: 5%;
}
.reservation-Info li{
    font-size: 20px;
}

/* Calendar */
.calendar-Date{
    height: auto;

    margin-bottom: 20vh;
    font-size: 20px;
    width: 60%;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 20vh;
}
#red{
color: red;
}
#green{
    color: green;
    
}
.calendar{
    display: flex;
    border: solid;
    width: 50vh;
    height: 70vh;
}
/* footer */
footer{
    background-color: black;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* justify-content: center; */
}
footer h1{
    margin: 5%;
    margin-bottom: 200px;
}
footer ul{
    display: flex;
    justify-content: space-around;
    /* flex-direction: column; */
    margin: 0;
    padding: 0;
}
footer li{
    list-style: none;
}
footer a{
    color:whitesmoke;
    text-decoration: none;
    font-size: 20px;
}
footer a:hover{
    color: yellowgreen;
}

@media (max-width: 700px){
    .filter h1{
        margin-bottom: 10%;
        font-weight: 600;
        font-size:35px;
    }
    .selection{
        height: auto;
        width: 100%;
    }
    .selection ul{
        height: 80%;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        padding: 0;
    }
    .mihanz-info{
        display: flex;
        height: auto;
        align-items: center;
        justify-content: center;
        margin-top: 5vh;
        margin-bottom: 10vh;
        flex-direction: column;
    }
    #p2{
        text-align: justify;
        font-size: 15px;
        width: 80%;
        margin: 0%;
    }
    footer{
        background-color: black;
        color: whitesmoke;
        display: flex;
        flex-direction: column;
        height: 100vh;

    }
    footer h1{
        margin: 5%;
    }
    footer ul{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
    }
    footer li{
        list-style: none;
    }
    footer a{
        color:whitesmoke;
        text-decoration: none;
        font-size: 20px;
    }
    footer a:hover{
        color: yellowgreen;
    }
}