body{
    display: flex;
    flex-direction: column;
    scrollbar-gutter: stable;
    background-color: white;
}
main{   
    display: flex;
    flex-direction: column;
    height: 100vh;
}
    

/* navigation */
/* .navbar-brand{
    color:white;
    font-weight: bolder;
}
.nav-link{
    color: white;
}

.navbar{
    background-color: forestgreen;
} */

/* form container */
.filter{
    /* backdrop-filter: blur(5px); */
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
/* footer */

footer{
    background-color: black;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* justify-content: center; */
}
footer h1{
    margin: 5%;
    margin-bottom: 200px;
}
footer ul{
    display: flex;
    justify-content: space-around;
    /* flex-direction: column; */
    margin: 0;
    padding: 0;
}
footer li{
    list-style: none;
}
footer a{
    color:whitesmoke;
    text-decoration: none;
    font-size: 20px;
}
footer a:hover{
    color: yellowgreen;
}
